
.left-side {
    height: 100%;
}

html {
    height:100%;
}

body {
    height:100%;
    margin: 0;
}

.container {
    height:inherit;
    width:100%;
}

.right-side {
    height: 100%;
    position: relative;
}

.row:after {
    content: "";
    clear: both;
    display: block;
    z-index: 4;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
}

.row {
     height:inherit;
}

.left-heading {
    font-size: 18px;
    position: fixed;
    color:#555;
}

.scroll-down-text {
    position: fixed;
    z-index: 10;
    padding: 10px;
    height: 40px;
    font-family: 'Josefin Slab', serif;
    line-height: 23px;
}


progress {
    background-color: #f3f3f3;
    border: 0;
    height: inherit;
}
progress::-webkit-progress-bar {
    background-color: #f3f3f3;
    border: 0;
    height: inherit;
}
progress::-webkit-progress-value {
    background-color: #555;
    border: 0;
    height: inherit;
}
progress::-moz-progress-bar {
    background-color: #555;
    border: 0;
    height: inherit;
}


#progressbar {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

#increaseprogress {
    z-index: 2;
}

#tree_branch {
    width: 600px;
    right:0px;
    margin-top: 30px;
    position: absolute;
}

#bird {
    width: 160px;
    float: right;
    margin-top: 18px;
    position: relative;
    
}

#apple1 {
    width:80px;
    right:470px;
    top: 103px;
    position: absolute;
}

#apple3 {
    width: 80px;
    right:250px;
    top: 145px;
    position: absolute;
}

#apple2 {
    width: 80px;
    right: 45px;
    top: 155px;
    position: absolute;
}

#apple1:hover {
    cursor:pointer;
}

#apple2:hover {
    cursor:pointer;
}

#apple3:hover {
    cursor:pointer;
}
